<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Manage Articles</title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css"/>

</head>
<body>
<div class="container-fluid text-center">
  <h2>Manage Articles</h2>

  <div class="alert-success text-center" th:if="${message}"></div>
<!--  <span th:if = "${session.Usersession != null}" th:text=" 'login id : ' + ${session.Usersession.getUser_name()}"></span>-->
  <div>
    <div class=".container bg-info">
      <div class="d-flex justify-content-around">
        <nav class="navbar navbar-expand">
          <form class="mx-5">
            <!--<input class="label" type="text" placeholder="請輸入標題或關鍵字">
            <button class="btn btn-success" type="submit">搜尋</button>-->
          </form>
          <div class="collapse navbar-collapse mx-2">
            <ul class="nav navbar-nav">
              <li class="nav-item"><a class="nav-link text-white" th:if = "${session.Usersession.getId() != null && session.Usersession.getId() == 1}" th:href="@{/users}">管理會員</a></li>
              <li class="nav-item"><a class="nav-link text-white" th:if = "${session.Usersession.getId() != null && session.Usersession.getId() == 1}" th:href="@{/articles}">管理文章</a></li>
              <li class="nav-item"><a class="nav-link text-white" th:href="@{'/'+ ${session.Usersession.getId()}}">回到主頁</a></li>
              <li class="nav-item"><a class="nav-link text-white" th:if = "${session.Usersession.getId() != null && session.Usersession.getId() == 1}" th:href="@{/comments}">管理回覆</a></li>
              <li class="nav-item"><a class="nav-link text-white" th:if = "${session.Usersession.getId() != null}" th:href="@{'/user/personal/' + ${session.Usersession.getId()}}">個人資訊管理</a></li>

            </ul>
          </div>
        </nav>
      </div>
    </div>
    <table class="table table-bordered">
      <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Content</th>
        <th>User ID</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <th:block th:each="article: ${listArticles}">
        <tr>
          <td>[[${article.id}]]</td>

          <td>[[${article.article_title}]]</td>

          <td>[[${article.article_content}]]</td>

          <td>[[${article.user_id}]]</td>
          <td>
            <a class="h4" th:href="@{'/article/delete/'+ ${article.id}}">Delete</a>
          </td>
        </tr>
      </th:block>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>