<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Manage Articles</title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css"/>

</head>
<body>
<div class="container-fluid text-center">
  <h2>Manage Articles</h2>

  <div class="alert-success text-center" th:if="${message}"></div>
  <span th:if = "${session.Usersession != null}" th:text=" 'login id : ' + ${session.Usersession.getUser_name()}"></span>
  <div>
    <table class="table table-bordered">
      <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Content</th>
        <th>User ID</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <th:block th:each="article: ${listArticles}">
        <tr>
          <td>[[${article.id}]]</td>

          <td>[[${article.article_title}]]</td>

          <td>[[${article.article_content}]]</td>

          <td>[[${article.user_id}]]</td>
          <td>
            <a class="h4 mr-3" th:href="@{'/article/edit/'+ ${article.id}}">Edit</a>
            <a class="h4" th:href="@{'/article/delete/'+ ${article.id}}">Delete</a>
          </td>
        </tr>
      </th:block>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>