<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>文章首頁</title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css"/>

</head>
<body>
<div class="container ">
  <div class="alert-success text-center" th:if="${message}"></div>

  <div class="p-5">
    <table class="table table-striped">
      <thead>
        <tr>
          <td>回應者名稱</td>
          <td>回應內容</td>
        </tr>
      </thead>
      <tbody>
      <th:block th:each="comment: ${listComments}">
        <th:block th:if="${(comment.article_id.id)} eq ${(getId.id)}">
          <tr>
            <td>[[${comment.user_id.user_name}]]</td>
            <td>[[${comment.comment_content}]]</td>
          </tr>
        </th:block>
      </th:block>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>